Flask==3.1.2
flask-cors==6.0.2
google-generativeai==0.8.6
numpy==2.2.6
networkx==3.4.2
reportlab==4.5.1
requests==2.33.1
scikit-learn==1.7.2
sentence-transformers==2.7.0
faiss-cpu==1.7.4
torch
transformers==4.57.6
python-dotenv
openai>=1.25,<2.0